// Colors
$black: #262626;
$blue: #0072ff;
$yellow: #ebe83a;
$green: #07d08c;
$body-color: $black;

$theme-colors: ("primary": $blue,
"warning": $yellow,
"white": $white,
"secondary": $black,
"success": $green,
"dark": $black);


// Fonts
$font-family-base: 'Agenda',
'Trebuchet MS';
$headings-font-family: 'Poynter Oldstyle Disp',
'Times New Roman';
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 3;
$h3-font-size: $font-size-base * 2.5;
$h4-font-size: $font-size-base * 1.9;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base * 1;

// Global settings
$enable-rounded: false;
$enable-shadows: false;
$link-color: $white;
$link-hover-color: $white;

$navbar-dark-color: $white;
$navbar-dark-hover-color: darken($white, 15);
$card-cap-bg: $white;

h1,
h2,
h3,
h4,
h5 {
    line-height: 90% !important;
    font-display: Block;
}

footer {
    letter-spacing: .08rem;
    font-size: .7rem;
    font-family: 'Agenda', 'Trebuchet MS';
}

label {
    font-weight: 700;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
