footer {
    letter-spacing: .08rem;
    font-size: .7rem;
    font-family: agenda, 'Trebuchet MS';
}

label {
    font-weight: 700;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

body {
    background-color: $white !important;
}

.btn {
    font-family: agenda, 'Trebuchet MS';
    padding: .3rem 1.2rem .3rem 1.2rem !important;
    border: 2px solid !important;
    border-radius: $border-radius;
    text-transform: uppercase;
    font-weight: bold !important;
}

.category {
    font-family: agenda, 'Trebuchet MS';
    font-weight: 600;
    text-transform: uppercase;
    color: #979797 !important;
    font-size: .9rem;
}

.eyebrow {
    letter-spacing: .08rem;
    font-family: interstate-compressed, Impact;
}

.sub-heading {
    font-family: agenda, 'Trebuchet MS' !important;
    font-weight: bold;
    line-height: 1.8rem;
    letter-spacing: .07rem;
}


.bg-full {
    background-image: url("https://placeimg.com/1200/600/nature");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-building {
    background-image: url("/static/img/backgrounds/building.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home {
    background-image: url("/static/img/backgrounds/home-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-circle {
    background-image: url("/static/img/abstract/circle-bg.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.bg-squares {
    background-image: url("/static/img/abstract/squares.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-circle-bottom {
    background-image: url("/static/img/abstract/bottom-circle-bg.svg");
    background-position: center bottom -240px;
    background-repeat: no-repeat;
}


.bg-growth-reinvented {
    background: url("/static/img/abstract/large-blue-circle.svg") bottom center no-repeat, url("/static/img/abstract/center-circle-dots.svg") top center no-repeat;
}

.nav-item {
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer-copyright {
    font-size: .7rem;
}

.callout {
    border: none !important;
}


@include media-breakpoint-up(xs) {
    html {
        font-size: 14px;
    }

    .callout h2 {
        font-size: 3rem;
    }

    .res-border-right {
        border-right: none !important;
    }

}

@include media-breakpoint-up(sm) {
    html {
        font-size: 14px;
    }

    .callout h2 {
        font-size: 3rem;
    }

    .res-border-right {
        border-right: none !important;
    }

}

@include media-breakpoint-up(md) {
    html {
        font-size: 14px;
    }

    .callout h2 {
        font-size: 2.4rem;
    }

    .res-border-right {
        border-right: thin solid rgba(38, 38, 38, .25) !important;
    }

}

@include media-breakpoint-up(lg) {
    html {
        font-size: 16px;
    }

    .callout h2 {
        font-size: 3rem;
    }

    .res-border-right {
        border-right: thin solid rgba(38, 38, 38, .25) !important;
    }
}



// MENU
.navbar-nav .dropdown-menu {
    background-color: rgba(38, 38, 38, 0.85);
    padding-left: 0px !important;
    margin-bottom: 0;
    margin-top: 0px !important; // fixes closing on slow mouse transition
}

.nav-item {
    margin: 0;
    padding: 8px;
    font-size: 1rem;
    border-top: thin solid transparent;
}

.nav-item:hover {
    margin-bottom: 0px;
    background-color: rgba(38, 38, 38, 0.85) !important;
    border-top: thin solid black;
}

.navbar-nav .dropdown-item a,
.dropdown-item a:active {
    color: $white !important;
    font-size: 1rem;
    text-decoration: underline;
}

.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.dropdown .dropdown-menu a {
    color: $black;
    text-decoration: none;
}

.dropdown-menu {
    border: none !important;
}

.dropdown-menu .dropdown-item {
    display: inline-block;
    background-color: transparent !important;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
}

.dropdown-menu .dropdown-item:hover {
    text-decoration: underline;
}







.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

.row-border-top {
    border-top: thin solid rgba(38, 38, 38, .25) !important;
}

.row-border {
    border-top: thin solid rgba(38, 38, 38, .25) !important;
    border-bottom: thin solid rgba(38, 38, 38, .25) !important;
}
