footer {
    letter-spacing: .08rem;
    font-size: .7rem;
    font-family: 'Agenda', 'Trebuchet MS';
}

label {
    font-weight: 700;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

body {
    background-color: $white !important;
}

.btn {
    font-family: 'Agenda', 'Trebuchet MS';
    padding: .3rem 1.2rem .3rem 1.2rem !important;
    border: 2px solid !important;
    border-radius: $border-radius;
    text-transform: uppercase;
}

.category {
  font-family: 'Agenda', 'Trebuchet MS';
  font-weight: 600;
  text-transform: uppercase;
  color: #979797 !important;
  font-size: .9rem;
}

.eyebrow {
    font-family: 'Interstate Reg Comp', 'Impact';
    letter-spacing: .1rem;
}

.sub-heading {
    font-family: 'Agenda', 'Trebuchet MS' !important;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: .08rem;
}


.bg-full {
    background-image: url("https://dummyimage.com/1200x600/000/fff");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-building {
    background-image: url("/static/img/backgrounds/building.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home {
    background-image: url("/static/img/backgrounds/home-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-circle {
  background-image: url("/static/img/abstract/circle-bg.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.bg-squares {
  background-image: url("/static/img/abstract/squares.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.nav-item {
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer-copyright {
  font-size: .7rem;
}

.card { border: none !important;}


@include media-breakpoint-up(xs) {
  html {
      font-size: .9rem;
  }

  .card h2 {
    font-size: 3rem;
  }

 .card-border-right {
    border-right: none !important;
  }

}

@include media-breakpoint-up(sm) {
  html {
      font-size: .9rem;
  }

  .card h2 {
    font-size: 3rem;
  }

  .card-border-right {
    border-right: none !important;
  }

}

@include media-breakpoint-up(md) {
  html {
      font-size: .9rem;
  }

  .card h2 {
    font-size: 1.9rem;
  }

  .card-border-right {
    border-right: thin solid rgba(255, 255, 255, .25) !important;
  }

}

@include media-breakpoint-up(lg) {
  html {
      font-size: 1rem;
  }

  .card h2 {
    font-size: 3rem;
  }

  .card-border-right {
    border-right: thin solid rgba(255, 255, 255, .25) !important;
  }
}



.navbar-nav .dropdown-menu {
  border-top: thin solid $black;
  margin-top: 0px !important; // fixes closing on slow mouse transition
}

.navbar-nav .dropdown-menu a, .dropdown-menu a:active{
  color: $black !important;
  background-color: transparent !important;
  font-size: .9em;
}
