html {
    font-size: 1rem;
}

@include media-breakpoint-up(xs) {
    html {
        font-size: .9rem;
    }
}

@include media-breakpoint-up(sm) {
    html {
        font-size: .9rem;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: .9rem;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 1rem;
    }
}

footer {
    letter-spacing: .08rem;
    font-size: .7rem;
    font-family: 'Agenda', 'Trebuchet MS';
}

label {
    font-weight: 700;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

body {
    background-color: $white !important;
}

.btn {
    font-family: 'Agenda', 'Trebuchet MS';
    padding: .3rem 1.2rem !important;
    border: 2px solid !important;
    border-radius: $border-radius;
    text-transform: uppercase;
}

.eyebrow {
    font-family: 'Interstate Reg Comp', 'Impact';
    letter-spacing: .1rem;
}

.sub-heading {
    font-family: 'Agenda', 'Trebuchet MS';
    font-weight: bold;
    line-height: 2rem;
    font-size: 110%;
}


.bg-full {
    background-image: url("https://dummyimage.com/1200x600/000/fff");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-building {
    background-image: url("/static/img/backgrounds/building.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home {
    background-image: url("/static/img/backgrounds/home-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-item {
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: bold;
}
